{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
  <!-- Add gutter classes to this row -->
  <div class="row g-4 mt-3">
                {% for post in post_list %}
      <!-- Each column is a flex container, so its child .card can stretch -->
      <div class="col-12 col-md-4 d-flex align-items-stretch">
        <div class="card w-100 d-flex flex-column mb-4">
          <!-- flex-column so we can push the footer to the bottom -->
          <div class="card-body d-flex flex-column">
            <a href="{% url 'post_detail' post.slug %}" class="post-link mb-3">
                                <h2 class="card-title">{{ post.title }}</h2>
            </a>
            <!-- truncate excerpt to 220 characters -->
            <p class="card-text">{{ post.excerpt|truncatechars:220 }}</p>
            <!-- push this block to the bottom of the card-body -->
            <div class="mt-auto">
              <img
                src="{% static 'images/flower-banner.png' %}"
                alt="Floral border"
                class="card-border-img mb-2"
              />
                            <hr />
              <p class="card-text author">Author: {{ post.author }}</p>
            </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                  class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" 
                class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
    Copyright &copy; {{ current_year }} Katherine Wadge-Berrospi
{% endblock copyright %}